Package: k0pt
Version: 1.0.0
Section: base
Priority: optional
Architecture: amd64
Depends: 
Maintainer: Mal Marconi
Description: k0pt is a tool for Kubernetes resource optimization and cost management.
